<h2>Template: <small>Dinámicos</small></h2>
<hr>
<form #dinamicForm="ngForm" (ngSubmit)="guardar()" autocomplete="off">
  <!-- Nombre -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Nombre de la persona"
        [ngModel]="persona.nombre"
        name="nombre"
        required
      >
      <span
        *ngIf="precioRequerido"
        class="form-text text-danger"
      >El nombre es requerido</span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Agregar favorito"
          [(ngModel)]="nuevoJuego"
          name="nuevoJuego"
          (keyup.enter)="agregar()"
        >
        <button class="btn btn-outline-primary" type="button" (click)="agregar()">Agregar</button>
      </div>
    </div>
  </div>

  <!-- Lista de juegos favoritos -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div *ngFor="let juego of persona.favoritos; let i = index" class="input-group mb-1">
        <input
          class="form-control"
          [name]="'favorito_' + i"
          [(ngModel)]="juego.nombre"
          required
        >
        <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)">Borrar</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        (click)="guardar()"
        [disabled]="dinamicForm.invalid"
        class="btn btn-primary float-end"
      >
        Guardar
      </button>
    </div>
  </div>
  <pre>{{ persona | json }}</pre>
</form>
