<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
  <div class="col">
    <form action="" autocomplete="off" [formGroup]="myForm" (ngSubmit)="submit()">
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
            formControlName="nombre"
          >
          <span
            *ngIf="campoInvalido('nombre')"
            class="form-text text-danger"
          >Debe de ser en formato de nombre y apellido</span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del usuario"
            formControlName="email"
          >
          <span
            *ngIf="campoInvalido('email')"
            class="form-text text-danger"
          >{{ emailErrorMsg }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre código del usuario"
            formControlName="username"
          >
          <span
            *ngIf="campoInvalido('username')"
            class="form-text text-danger"
          >El username no puede ser Strider</span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password de su cuenta"
            formControlName="password"
          >
          <span
            *ngIf="campoInvalido('password')"
            class="form-text text-danger"
          >La contraseña debe ser mayor de 6 caracteres</span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar la contraseña"
            formControlName="password2"
          >
          <span
            *ngIf="campoInvalido('password2')"
            class="form-text text-danger"
          >Las contraseñas deben ser iguales</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="myForm.pending"
          >Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form valid: {{ myForm.errors }}</h2>
<h2>Form status: {{ myForm.status }}</h2>
<h2>Form pending: {{ myForm.pending }}</h2>
<h2>Form Errors</h2>
<pre>{{ myForm.errors | json }}</pre>

<h2>Nombre</h2>
<pre>{{ myForm.controls['nombre'].errors | json }}</pre>

<h2>Email</h2>
<pre>{{ myForm.controls['email'].errors | json }}</pre>

<h2>Username</h2>
<pre>{{ myForm.controls['username'].errors | json }}</pre>

<h2>Password</h2>
<pre>{{ myForm.controls['password'].errors | json }}</pre>

<h2>Confirmar</h2>
<pre>{{ myForm.controls['password'].errors | json }}</pre>
